*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/drawable/placeholder.jpg
app/src/main/res/drawable/error.jpg
app/src/main/res/drawable/placeholder.PNG
app/google-services.json
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetDropDown.xml
